
main{
    width: 600px;
    margin: auto;
    border: 2px solid yellow;
    background: linear-gradient(to top, #fefcea, #f1da36);
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
ul{
    list-style: none;
}
div{
    height: 120px;
    width: 1000px;
    /*overflow: hidden;*/
}
.images{
    width: 20%;
    /*background: blue;*/
    float: left;
}

img{
    padding: 4px;
    height: 90%;
}
img:hover{

}
li {
    /*border: 3px solid blue;*/
}
