
main{
    width: 600px;
    margin: auto;
    border: 2px solid yellow;
    background: linear-gradient(to top, #fefcea, #f1da36);
    padding: 10px;
}
ul{
   
}

li {
    /*border: 3px solid blue;*/
}